# Photoroom API Key for Background Removal
PHOTOROOM_API_KEY= "sk_pr_backgroundremover_82da5717efd8ce6e7080e40b68a4616dfb293f00"

# Gemini API Key for Chat, Vision, and Watermark Removal
VITE_GEMINI_API_KEY_CHAT= "AIzaSyAWJ5_0-jxGow78jxOCn3km1EsX65aewdY"
